MONGO_URI=mongodb://thegrimlet:gggghhhh@ac-3uoetah-shard-00-00.tel8dga.mongodb.net:27017,ac-3uoetah-shard-00-01.tel8dga.mongodb.net:27017,ac-3uoetah-shard-00-02.tel8dga.mongodb.net:27017/?ssl=true&replicaSet=atlas-ppyy1g-shard-0&authSource=admin&appName=SmartCampus
JWT_SECRET=supersecret